<section id="recipe-form">
    <h2>Register user</h2>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="repass">Repeat password</label>
            <input type="password" name="repass" id="repass">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</section>