<section id="recipe-list">
    <div class="search-bar-container">
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search recipes...">
            <button>Search</button>
        </div>
    </div>

    <h2>Recipes</h2>
    <div id="recipes">
        <!-- Recipe Cards -->
        {{#each recipes}}
        <div class="recipe-card">
            <a href="/recipes/{{_id}}/details">
                <img src="{{imageUrl}}" alt="{{title}}">
                <h3>{{title}}</h3>
            </a>
        </div>
        <!-- More recipes can be added here -->
        {{/each}}
    </div>
</section>