<section id="recipe-list">
    <div class="search-bar-container">
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search recipes...">
            <button>Search</button>
        </div>
    </div>

    <h2>Recipes</h2>
    <div id="recipes">
        <!-- Recipe Cards -->
        <div class="recipe-card">
            <a href="recipe-detail.html?recipe=spaghetti-bolognese">
                <img src="https://images.ctfassets.net/uexfe9h31g3m/6QtnhruEFi8qgEyYAICkyS/ab01e9b1da656f35dd1a721c810162a0/Spaghetti_bolognese_4x3_V2_LOW_RES.jpg?w=2000&h=1500&fm=webp&fit=thumb&q=100"
                    alt="Spaghetti Bolognese">
                <h3>Spaghetti Bolognese</h3>
            </a>
        </div>
        <div class="recipe-card">
            <a href="recipe-detail.html?recipe=chocolate-cake">
                <img src="images/chocolate-cake.jpg" alt="Chocolate Cake">
                <h3>Chocolate Cake</h3>
            </a>
        </div>
        <!-- More recipes can be added here -->
    </div>
</section>